.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.grid-item-container {
  display: flex;
  align-items: flex-end;
}

.grid-item-lower {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  flex-wrap: nowrap;
}

.grid-text {
    width:30%;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
    padding:5px;
}

.grid-input {
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
    input[type="text"] {
        width: 90%;
        height: 90%;
        padding: 10px;
        font-size: 16px;
    }
}

.grid-spacer {
  display: grid;
  font: normal 16px Arial, sans-serif;
  font-size: 17px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2px;
}

.grid-spacer2 {
  display: grid;
  font: normal 16px Arial, sans-serif;
  font-wieght: normal;
  text-align: center;
  font-size: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2px;
}

.grid-spacer h3 {
  text-align: center;
}