<div class="grid-spacer">
  <h3>Physical</h3>
  <h3>Guile</h3>
  <h3>Mental</h3>
</div>

<div class="grid-container">
  <div class="grid-item">
    <div class="grid-text">Strength</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Charisma</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Perception</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Dexterity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Manipulation</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Intelligence</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Stamina</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Appearance</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
</div>
<div class="grid-spacer2">
  <h3>Physical skills</h3>
  <h3>Guile skills</h3>
  <h3>Mental skills</h3>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="grid-text">Marksman</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Integrity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Science</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Martial Arts</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Performance</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Investigation</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Melee</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Presence</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Lore</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Thrown</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Resistance</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Medicine</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">War</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Survival</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Astrogation</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
</div>
<div class="grid-spacer2">
  <h3>-</h3>
  <h3>-</h3>
  <h3>-</h3>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="grid-text">Athletics</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Bureaucracy</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Computers</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Awareness</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Linguistics</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Engineering</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Dodge</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Drive</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Craft</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Larceny</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Pilot</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">-</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Stealth</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Socialize</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">-</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">
    </div>
  </div>
</div>
<div class="grid-container-center">
  <div class="force-grid-item">
    <div class="grid-text">Force Sensitivity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">      
    </div>
    </div>
<div class="centered-grid-container">
  <div class="grid-item">
    <div class="grid-text">Sense</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">      
    </div>
    </div>
  <div class="grid-item">
    <div class="grid-text">Alter</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">      
    </div>
    </div>
  <div class="grid-item">
    <div class="grid-text">Control</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
        <input type="checkbox">      
    </div>
    </div>
      