<div class="grid-spacer">
  <h3>Header 1</h3>
  <h3>Header 2</h3>
  <h3>Header 3</h3>
</div>

<div class="grid-container">
  <div class="grid-item">
    <div class="grid-text">Strength</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Charisma</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Perception</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Dexterity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Manipulation</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Intelligence</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Stamina</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Appearance</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
</div>
<div class="grid-spacer">
  <h3>Header 1</h3>
  <h3>Header 2</h3>
  <h3>Header 3</h3>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="grid-text">Marksman</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Integrity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Science</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Dexterity</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Manipulation</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Intelligence</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Stamina</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Appearance</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
  <div class="grid-item">
    <div class="grid-text">Wits</div>
    <div class="grid-input">
        <input type="text" placeholder="Lvl">
    </div>
  </div>
</div>



      